---
import icon1 from "../assets/shugert/Lead_scoring_icon.png";
import icon2 from "../assets/shugert/Customer_Churn_Icon.png";
import icon3 from "../assets/shugert/Behavior_Analysis_icon.png";
import icon4 from "../assets/shugert/Predictive_Analysis_icon.png";
import { Picture } from "astro:assets";


---

<div>
  <h2 class="text-center text-slate-500">
    Trusted by popular startups you know
  </h2>
  <div
    class="flex gap-x-8 gap-y-4 md:gap-20 lg:gap-28 items-center justify-center mt-6 flex-wrap">
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <Picture
      src={icon1}
      alt="Feature Image"
      formats={["avif", "webp"]}
      loading="lazy"
    />
    </div>

    <div class="text-gray-500 my-2 h-7 md:h-9">
      <Picture
      src={icon2}
      alt="Feature Image"
      formats={["avif", "webp"]}
      loading="lazy"
    />
    </div>
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <Picture
      src={icon3}
      alt="Feature Image"
      formats={["avif", "webp"]}
      loading="lazy"
    />
    </div>
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <Picture
      src={icon4}
      alt="Feature Image"
      formats={["avif", "webp"]}
      loading="lazy"
    />
    </div>
  </div>
</div>
